h1{
    color: antiquewhite;
    background-color: palevioletred;
}
h2{
    color:antiquewhite;
    background-color: plum;
    

}
h3{
    color: antiquewhite;
    background-color: palevioletred;
}
h4{
    color: antiquewhite;
    background-color: palevioletred;
}
body{
    background-color: lightpink;
    color: purple;
}